<div class="main-content">
  <div class="relative overflow-x-auto mb-10">
    <div class="grid grid-cols-4 gap-6 py-5 px-3 bg-gray-500">
      <div class="rounded-lg bg-white py-5">
        <h2 class="text-center text-3xl font-bold py-5">Male Count</h2>
        <p class="text-center text-2xl font-bold">{{ daily_record.male_count }}</p>
      </div>
      <div class="rounded-lg bg-white py-5">
        <h2 class="text-center text-3xl font-bold py-5">Female Count</h2>
        <p class="text-center text-2xl font-bold">{{ daily_record.female_count }}</p>
      </div>
      <div class="rounded-lg bg-white py-5">
        <h2 class="text-center text-3xl font-bold py-5">Male Average Age</h2>
        <p class="text-center text-2xl font-bold">{{ daily_record.male_avg_age | round: 2 }}</p>
      </div>
      <div class="rounded-lg bg-white py-5">
        <h2 class="text-center text-3xl font-bold py-5">Female Average Age</h2>
        <p class="text-center text-2xl font-bold">{{ daily_record.female_avg_age | round: 2 }}</p>
      </div>
    </div>
  </div>

  <div class="relative overflow-x-auto mb-10">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" id="user-table">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                  Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Age
                </th>
                <th scope="col" class="px-6 py-3">
                    Gender
                </th>
                <th scope="col" class="px-6 py-3">
                    Created At
                </th>
                <th scope="col" class="px-6 py-3">
                  Action
                </th>
            </tr>
        </thead>
        <tbody>
          {% for user in users -%}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                  {{ user.name | full_name  }}
              </th>
              <td class="px-6 py-4">
                  {{ user.age  }}
              </td>
              <td class="px-6 py-4">
                  {{ user.gender }}
              </td>
              <td class="px-6 py-4">
                  {{ user.created_at | date: "%a, %b %d, %y" }}
              </td>
              <td class="px-6 py-4">
                <a
                  href="{{ user.uuid | delete_user_path }}"
                  class="text-red-500"
                  data-method="delete"
                  data-confirm="Are you sure want to delete this?">Delete</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    <div class="text-center mt-6">
      {{ pagination | pagination_view }}
    </div>
  </div>

  <div class="relative overflow-x-auto">
    <h2 class="text-3xl mb-10">User Charts</h2>

    <div class="grid grid-cols-2 gap-6 py-5 px-3 bg-gray-500" data-controller="chart">
      <div class="rounded-lg bg-white py-5">
        <canvas data-chart-target="counts"></canvas>
      </div>
      <div class="rounded-lg bg-white py-5">
        <canvas data-chart-target="average"></canvas>
      </div>
    </div>
  </div>
</div>